/*Clear the default margin and padding for all elements*/
*
{
    margin:0px;
    padding:0px;
    font-family: "Lato","Helvetica Neue", Arial ,Helvetica, sans-serif;
}

/* Background color*/
body
{
    background-color: rgb(250,250,250);
    height: 100%;
    width:100%;
    position: relative;
    padding-bottom: 60px;
}

a
{
    text-decoration: none;
    color: black;
}

li
{
    list-style: none;
}

/* Profile style */
#ProfileHeader
{
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 55px;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	overflow-x: hidden;
	padding-top: 30px;
	transition: 0.5s;
    text-align: center;
}

#ProfilePic
{
    margin-top: 0px;
    border-radius: 50%;
    overflow: hidden;
    width: 125px;
    height: 125px;
    text-align: center;
}

#EditProfilePic
{
    position: absolute;
    left: 150px;
    top: 20px;
    cursor: pointer;
}

#file-input
{
    display: none;
}


#ProfileHeader #Profile_UserName
{
    letter-spacing: 1.3px;
    margin: 10px 0px;
	font-size: 120%;
	color: lightgrey;
}



#BodyNav, /* paul HERE START(1)  */#PassNav /* paul HERE END(1): Password Nav */
{
    background-color: rgb(255,255,255);
    text-align: center;
    margin: 0 auto;
    width: 70%;
    border-radius: 5px;
    border: 1px solid rgb(225,225,225);
    margin-top: 40px;
}

#BodyNav ul li, /* paul HERE START(2)  */#PassNav ul li /* paul HERE END(2): Password Nav ul li */
{
    display: block;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
}

#BodyNav ul li:hover, /* paul HERE START(3)  */#PassNav ul li:hover /* paul HERE END(3): Password Nav ul li */
{
    background-color: rgb(232, 232, 232);
}


.BodyNavClicked
{
    border-bottom: 1px solid black;
    background-color: rgb(232, 232, 232);
}

/*Show a tooltip for the search event and add event SVG*/
#SearchEvent, #AddEvent
{
    position: relative;
}

.Profile_Tooltip
{
    visibility: hidden;
    width: 80px;
    font-size: 10px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
	top: 10%;
    left: 57%;

}

/*On hover make tooltip available*/
#SearchEvent:hover .Profile_Tooltip, #AddEvent:hover .Profile_Tooltip
{
    visibility: visible;
}

#ResultShowBoard{
    position: absolute;
    left: 380px;
    top: 100px;
}

#ResultShowBoard #post_rooms{
    position: absolute;
    left: 50px;
    top: 20px;
    width: 550px;
    background-color: rgb(255,255,255);
    border-radius: 4px;
    z-index: -1;
}

#post_rooms{
    background: rgb(255,255,255);
    padding:45px;
    margin-top: 17%;
    width:50px;
    height:370px;
    border-radius: 12px;
    border: 1px solid rgb(225,225, 225);
}

#post_rooms h1{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25pt;
}

#post_rooms input{
	border: 1px solid #DDDDDD;
	font-size: 1em;
	color: #000000;
	position: relative;
	height: 20px;
	border-radius: 4px;
    margin-top: 10px;
    padding: 5px 5px;
}

#post_rooms input:focus{
	color: #000000;
	outline: none !important;
    border:1px solid #93C7F2;
    box-shadow: 0 0 10px #719ECE;
}

.text{
    margin-left: 50px;
    font-size: 14pt;
}

.select {
  font-size: 13px;
  position: relative;
  display: inline-block;
}

.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding: 0.5em 4em 0.5em 0.5em;
  margin: 0;
  transition: border-color 0.2s;
  border: 2px solid #5289B0;
  border-radius: 5px;
  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.select .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  pointer-events: none;
}
.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid #5289B0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

#location_text{
    position: absolute;
    left: 0px;
    top: 100px;
}

#location_id{
    position: absolute;
    left: 130px;
    top: 98px;
}

#roomtype_text{
    position: absolute;
    left: 250px;
    top: 100px;
}

#roomtype_id{
    position: absolute;
    left: 410px;
    top: 98px;
}

#address_text{
    position: absolute;
    left: 0px;
    top: 150px;
}

#address_id{
    position: absolute;
    left: 85px;
    top: 38px;
    width: 250px;
}

#price_text{
    position: absolute;
    left: 0px;
    top: 200px;
}

#price{
    position: absolute;
    left: -110px;
    top: 87px;
    width: 60px;
}

#start_date_text{
    position: absolute;
    left: 235px;
    top: 200px;
}

#start_date_id{
    position: absolute;
    left: -5px;
    top: 85px;
}

#rent_months_text{
    position: absolute;
    left: 350px;
    top: 150px;
}

#rent_months_id{
    position: absolute;
    left: 475px;
    top: -5px;
    width: 35px;
}

#description_text{
    position: absolute;
    left: 200px;
    top: 240px;
}

#description_id{
    position: absolute;
    left: 50px;
    top: 270px;
}

textarea{
    height: 87px;
    width: 510px;
    border-color: lightgrey;
    border-radius: 4px;
    padding: 2px;
    font-size: 15px;
}

textarea:focus{
    color: #000000;
    outline: none !important;
    border:1px solid #93C7F2;
    box-shadow: 0 0 10px #719ECE;
}

textarea
{
    resize: none;
}

input#submit_btn_id{
    position: absolute;
    left: 230px;
    top: 370px;
    background-color: #008CBA;
	color: white;
    height: 40px;
	width: 150px;

}

#submit_btn_id:hover{
	background-color: #4797D9;
}

#submit_btn_id:focus{
	color: white;
}



