<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registration Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- Google Rokkitt Font-->
    <link href="http://fonts.googleapis.com/css?family=Rokkitt" rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/registration.css') }}>

</head>

<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href={{ url_for('main') }}>Easy House Rental</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href={{ url_for('registration') }}>Register</a>
                    </li>
                    <li>
                        <a class="page-scroll" href={{ url_for('login') }}>Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <main>
        <!--Cancels form if invalid-->
      <form action={{url_for('registration_submit')}} method="POST" id="UserRegistration">

        <section id="username">
          <p>User Name</p>
          <input type="text" name="username" placeholder="User Name" pattern="[a-zA-Z]+" title="Letters Only" required>
        </section>

        <section id="age">
          <p>Age</p>
          <input type="number" name="age" placeholder="Age" required>
        </section>

        <section id="gender">
          <p>Gender</p>
          <div class="dropdown">
            <select required name="gender" class="dropdown-select">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
        </section>

        <section id="email">
          <p>Email</p>
          <input type="email" name="email" placeholder="Email" 
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        </section>
        
        <section id="phone">
          <p>Phone</p>
          <input type="text" name="phone" placeholder="Phone"
          pattern="\d{10}|(\(\d{3}\))?(\d{3})?-?\d{3}-\d{4}|\(\d{3}\)\d{7}" required>
        </section>

        <section id="occupation">
          <p>Occupation</p>
          <input type="text" name="occupation" placeholder="Student">
        </section>

        <section id="password">
          <p>Password</p>
          <input type="password" name="password" placeholder="Password"
          pattern=".{6,}" title="Minimum 6 characters required" required>
          </input>
        </section>

        <section id="cfpassword">
          <p>Confirm Password</p>
          <input type="password" name="cfpassword" placeholder="Confirm Password"
          pattern=".{6,}" title="Minimum 6 characters required" required>
          </input>
        </section>

        <section id="aboutme">
          <p>About Me</p>
          <textarea id="aboutme_text" cols="39" row="50" name="about" ></textarea>
        </section>

        <section id="locations">
          <p>Locations</p>
          <div id="ck-collection">

          <div class="ck-button">
            <input type="checkbox" id="downtown" name="downtown" value="downtown">
            <label for="downtown">
            Downtown
            </label>
          </div>

          <div class="ck-button">
            <input type="checkbox" id="northyork" name="northyork" value="northyork">
            <label for="northyork">
            North York
            </label>
          </div>

          <div class="ck-button">
            <input type="checkbox" id="markham" name="markham" value="markham">
            <label for="markham">
            Markham
            </label>
          </div>

          <div class="ck-button">
            <input type="checkbox" id="scarborough" name="scarborough" value="scarborough">
            <label for="scarborough">
            Scarborough
            </label>
          </div>

          <div class="ck-button">
            <input type="checkbox" id="mississauga" name="mississauga" value="mississauga">
            <label for="mississauga">
            Mississauga
            </label>
          </div>

          <div class="ck-button">
            <input type="checkbox" id="others" name="others" value="others">
            <label for="others">
            Others
            </label>
          </div>

          </div>
        </section>

        <input type="submit" id="input_submit" value="Submit"/>

      </form>
      <div id="error_mes">{{ error }}</div>
    </main>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src={{ url_for('static',filename="script/login.js")}}></script>
    <!-- Theme JavaScript -->
    <script src={{ url_for('static',filename="script/new-age.min.js") }}></script>
</body>
</html>