<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset = "UTF-8">
            <title> User Self View </title>  <!--Change this to user's name-->
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename="css/selfview.css") }}>
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename="css/statusbar.css") }}>
            <script src={{ url_for('static',filename="script/jquery-3.1.1.min.js") }}></script>
            <script type="text/javascript" src={{ url_for('static',filename="script/selfview.js") }} defer></script>

            <!--Socket.io-->
            <script src="/socket.io/socket.io.js"></script>
            <!--DateTimePicker Library-->
            <link rel="stylesheet" type="text/css" href="./assets/css/jquery.datetimepicker.css"/>
            <script src="assets/scripts/jquery.datetimepicker.full.js"></script>

            <!--JQuery cookie plugin-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" defer></script>
            <script type="text/javascript" src="assets/scripts/StatusBar.js" defer></script>

    </head>


    <body>

         <!--The notification sound for friend requests, messages, and notifications-->
        <audio id="NotificationSound"><source src="./assets/sounds/notification.mp3" type="audio/mpeg" /></audio>

         <!--The top header-->
        <header id="header">

           <div id="SiteLogo">
              <a href={{url_for('main')}}> <img src="{{url_for('static', filename='images/logo.png')}}" alt="EasyRentLogo" /> </a>
           </div>

           <nav id="Site_Nav">
              <ul id="Main_Nav">
                  <div id="RightNav">
                      <li id="FB_Friend_SVG"> <img src={{ url_for('static',filename="images/FB_Friend_Notification.svg") }} alt="FB_Friend_Notification" width="25px" />
                          <p>  </p>
                      </li>
                      <li id="FB_Message_SVG"> <img src={{ url_for('static',filename="images/FB_Message_Notification.svg") }} alt="FB_Messaging" width="25px" />
                         <p>  </p>
                      </li>
                      <li id="SignOut_Button"> Sign Out </li>
                  </div>
              </ul>
           </nav>

        </header>

        <section id="ProfileHeader">
            <form action={{ url_for('profile_img_update') }} method="post" enctype="multipart/form-data" id="UploadProfilePic">
                <label for="file-input">
                    <img id="EditProfilePic" src={{ url_for('static',filename="images/edit.svg") }} width="20px" alt="UserProfilePic" />
                </label>
                <input id="file-input" type="file" name="fileUploaded"/>
            </form>
            <img id="ProfilePic" src={{ profileimg }} alt="UserProfilePic" />
            <h2 id="Profile_UserName">{{ username }} </h2>

            <nav id="BodyNav">
                <ul>
                    <li id="UserAbout"> About  </li>
                    <li id="UserFriends"> Friends </li>
                    <li id="MyPosts"> My Posts</li>
                    <li id="SearchEvent">
                        <img src={{ url_for('static',filename="images/searchMagnifier.svg") }} alt="searchMagnifier" width="15px"/>
                        <p class="Profile_Tooltip"> Search Rooms </p>
                    </li>
                    <li id="AddEvent">
                        <img src={{ url_for('static',filename="images/addEvent.svg") }} alt="searchMagnifier" width="15px"/>
                        <p class="Profile_Tooltip"> Post Rooms </p>
                    </li>
                </ul>
            </nav>
        </section>

        <section id="ResultShowBoard">

            <section id="about">

            </section>

            <section id="friends">

            </section>

            <section id="my_posts">

            </section>

            <section id="search_post">

            </section>

            <section id="post_rooms">
                <h1>New Post</h1>
                <form id="new_post" action="{{ url_for('registration') }}" method="post">

                    <span class="text" id="location_text">Location:</span>
                    <div class="select" id="location_id">
                        <span class="arr"></span>
                        <select name="location" >
                            <option value="downtown">DownTown</option>
                            <option value="northyork">NorthYork</option>
                            <option value="markham">Markham</option>
                            <option value="scarborough">Scarborough</option>
                            <option value="mississauga">Mississauga</option>
                            <option value="others">Others</option>
                        </select>
                    </div>

                    <span class="text" id="roomtype_text">Room Type:</span>
                    <div class="select" id="roomtype_id">
                        <span class="arr"></span>
                        <select name="room_type" >
                            <option value="townhouse">TownHouse</option>
                            <option value="detachedhouse">DetachedHouse</option>
                            <option value="apartment">Apartment</option>
                            <option value="condo">Condo</option>
                        </select>
                    </div>

                    <span class="text" id="address_text">Address:</span>
                    <input id="address_id" type="text" name="address">

                    <span class="text" id="price_text">Price (per month):</span>
                    <input id="price" type="number" name="price">
                    <span class="text" id="start_date_text">Start Date:</span>
                    <input id="start_date_id" type="date" name="start_date">
                    <span class="text" id="rent_months_text">Rent Months:</span>
                    <input id="rent_months_id" type="number" name="rent_months">


                    <span class="text" id="description_text">Description</span>
                    <textarea id="description_id" cols="39" row="50" name="description" ></textarea>

                    <input id="submit_btn_id" type="submit" value="POST">
                </form>
            </section>

        </section>
    </body>

</html>


